#viewport{
    margin: auto;
    position: relative;
    border: 1px solid gray;
    width: 650px;  /* Must be divisible by 50 */
    height: 650px; /* Must be divisible by 50 */
    display: block;
    overflow: hidden;
    background-color: rgb(13, 39, 79);
}

#gameWorld{
    width: 4000px;  /* Set dynamically, must be divisible by 50 and >= viewport's width */
    height: 4000px; /* Set dynamically, must be divisible by 50 and >= viewport's height */
    position: relative;
    background: url("../img/gameWorldBackground.jpg");
    z-index: 0;
}

.cellObject{
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 400;
}

#player{
    position: sticky;
    color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    z-index: 500;
}

.enemy{
    z-index: 400;
}

.planet{
    z-index: 300;
}


.inputPanel {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 30px 0;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 100;
    text-align: center;
    border-radius: 10px;
}
