/* Makes all divs within main vanish if they don't have the "visible" class applied to them */
#main > div:not(.visible){
    display: none;
}

.invalidInput{
    border: 2px solid red;
}

.invalidInputMessage{
    padding-left: 2em;
    color: red;
}
